version: '3'

volumes:
  vol_wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/lburnet/data/vol_wordpress'
  vol_db:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/lburnet/data/vol_db'

networks:
  net_nginx:
    name: net_nginx
    driver: bridge
#pourquoi bridge ? opt par default pour un reseau simple (Reseau simple ? ça veut dire que tu donnes le droit a ce réseau d'acceder a internet a partir de ta machine physique)

services:
  nginx:
    image: nginx
    container_name: nginx
    build: ./requirements/nginx
    # depends_on: #a remettre
    #   - wpphp
    volumes:
      - vol_wordpress:/var/www/html
    ports:
      # - "9000:9000"
      # - "80:80"
      #80:80 a enlever a la fin
      - "443:443"
    networks:
      - net_nginx
    restart: always

  db:
    image: db
    container_name: db
    build:
      context: requirements/mariadb
      args:
        DB_HOST: ${DB_HOST}
        DB_USER: ${MYSQL_USER}
        DB_PSW: ${MYSQL_PASSWORD}
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        DB_NAME: ${DB_NAME}
    volumes:
      - vol_db:/var/lib/mysql
    env_file:
      - .env
    # ports:
    #   - "3306:3306"
    networks:
      - net_nginx
    restart: always

  wpphp:
    image: wordpressphp
    container_name: wordpressphp
    build: 
      context: ./requirements/wordpress
      args:
        DB_NAME: ${DB_NAME}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        DOMAIN_NAME: ${DOMAIN_NAME}
        ADMIN_NAME: ${ADMIN_NAME}
        ADMIN_PSW: ${ADMIN_PSW}
        ADMIN_MAIL: ${ADMIN_MAIL}
        USER_NAME: ${USER_NAME}
        USER_MAIL: ${USER_MAIL}
        USER_PSW: ${USER_PSW}
    depends_on:
      - db
    volumes:
      - vol_wordpress:/var/www/html
    # ports:
    #   - "3306:3306"
    #   - "9000:9000"
    networks:
      - net_nginx
    restart: always
