version: '3'

volumes:
  vol_wordpress:
  vol_mariadb:

networks:
  net_nginx

services:
  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - vol_wordpress
    ports:
      - "9000:9000"
      - "443:443"
    networks:
      - net_nginx
  db:
    image: db
    container_name: db
    volumes:
      - vol_db
  #environnement ici mettre l'arg pour recup .env
    ports:
      - "3306:3306"
    networks:
      - net_nginx
  wpphp:
    image: wordpressphp
    container_name: wordpressphp
    volumes:
      - vol_wordpress
    ports:
      - "3306:3306"
      - "9000:9000"
    networks:
      -net_nginx