version: '3'

volumes:
  vol_wordpress:
    driver: local
    driver-opts:
      type: 'none'
      o: 'bind'
      device: '/home/lburnet/data/vol_wordpress'
  vol_db:
    driver: local
    driver-opts:
      type: 'none'
      o: 'bind'
      device: '/home/lburnet/data/vol_db'

networks:
  net_nginx:
    name: net_nginx
    driver: bridge
#pourquoi bridge ? opt par default pour un reseau simple (Reseau simple ? ça veut dire que tu donnes le droit a ce réseau d'acceder a internet a partir de ta machine physique)

services:
  nginx:
    image: nginx
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - wpphp
    volumes:
      - vol_wordpress
    ports:
      - "9000:9000"
      - "443:443"
    networks:
      - net_nginx
    restart: always

  db:
    image: db
    container_name: db
    build: requirements/mariadb
    #args a mettre ? (d'apres ton sujet ces arguments sont a mettre dans le fichier .env je crois... je me souviens qu'ils parlaient en tout cas du mot-de-passe root de la base de donnees qui ne doit pas se retrouver ici)
    #equivalent chez nico
      # contexte: requirements/mariadb
      # args:
        # WP_DB_HOST: ${DB_HOST}
        # WP_DB_NAME: ${WP_DB_NAME}?
        # WP_DB_USER: ${WP_DB_USER}?
        # MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        # MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    #equivalent chez loic
      # contexte: requirements/mariadb
      # args:
        # - DB_NAME=${MYSQL_DATABASE}?
        # - DB_USER=${MYSQL_USER}
        # - DB_PASSWORD=${MYSQL_PASSWORD}
        # - DB_HOST=${DB_HOST}_PASSWORD}
        # - ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - vol_db
    env_file:
      - .env
    ports:
      - "3306:3306"
    networks:
      - net_nginx
    restart: always

  wpphp:
    image: wordpressphp
    container_name: wordpressphp
    build: ./requirements/wordpress
    depends_on:
      - db
    volumes:
      - vol_wordpress
    ports:
      - "3306:3306"
      - "9000:9000"
    networks:
      -net_nginx
    restart: always
